:root {
	--header-title-color: #211adc;
	--project-black: #000000;
	--project-gray: #dae6f1;
	--project-green: #87d147;
	--project-navy: #29589f;
	--project-pink: #fc657e;
	--project-skyBlue: #70d6f9;
	--project-waterBlue: #5290db;
	--project-yellow: #f5c84c;
}
